<!--<delete-question></delete-question>
<question-list></question-list>-->
<!-- nav -->
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/QuestionList">Help(Question Details)</a>
        <a class="nav-item nav-link" routerLink="/Gettests">Help(Test Details)</a>
        <a class="nav-item nav-link" routerLink="Quiz">Test Format</a>
        <a class="nav-item nav-link" routerLink="User">Dashboard</a>
    </div>
</nav>-->
<!--<style>
.success {
  background-color: #ddffdd;
  border-left: 10px solid #4CAF50;
}
</style>-->
<!--<div class="success">
  <p><strong>Login Successful!</strong> Welcome, Admin!!</p>
</div>-->
<!--<a routerLink="/getlogin">Login</a>
<a routerLink="/register">Register</a>-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/admin.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/assign.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/add.jpg" width="304" height="236"></div></ng-template> 
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/delete.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/update.jpg" width="304" height="236"></div></ng-template> 
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/test.jpg" width="304" height="236"></div></ng-template>  
  </owl-carousel-o>
</div>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Online Test Management System</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/getlogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
  

<!-- main content container -->

<div>
        <router-outlet></router-outlet>
</div>