<!--<delete-question></delete-question>
<question-list></question-list>-->
<!-- nav -->
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/QuestionList">Help(Question Details)</a>
        <a class="nav-item nav-link" routerLink="/Gettests">Help(Test Details)</a>
        <a class="nav-item nav-link" routerLink="Quiz">Test Format</a>
        <a class="nav-item nav-link" routerLink="User">Dashboard</a>
    </div>
</nav>-->
<!--<style>
.success {
  background-color: #ddffdd;
  border-left: 10px solid #4CAF50;
}
</style>-->
<!--<div class="success">
  <p><strong>Login Successful!</strong> Welcome, Admin!!</p>
</div>-->
<!--<a routerLink="/getlogin">Login</a>
<a routerLink="/register">Register</a>-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/admin.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/assign.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/add.jpg" width="304" height="236"></div></ng-template> 
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/delete.jpg" width="304" height="236"></div></ng-template>  
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/update.jpg" width="304" height="236"></div></ng-template> 
    <ng-template carouselSlide><div class="mx-auto" style="width: 350px;"><img src="./assets/test.jpg" width="304" height="236"></div></ng-template>  
  </owl-carousel-o>
</div>-->
<a routerLink="/getlogin">Login</a>&nbsp; <a routerLink="/register">Register</a>

  

<!-- main content container -->

<div>
        <router-outlet></router-outlet>
</div>